.cost {
    padding-bottom: 15rem;
    margin-top: 5.6rem;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 112%;
        margin-bottom: 3.6rem;
        color: #323439;
    }

    &__right {
        margin-top: 7rem;
    }


    &__block-inner {
        display: flex;
        cursor: pointer;
        
    }


    &__block-inner.active {
        .cost__block-arrow {
            transform: rotate(180deg);
            transition: all 0.3s;
        }
    }

    &__block {
        width: 117.5rem;
        background: #D8DEE8;
        border-radius: 0.8rem;
        padding-left: 5.9rem;
        padding-top: 3.6rem;
        padding-right: 6rem;
        margin-bottom: 3rem;
    }

    &__block:last-child {
        margin-bottom: 0;
    }

    &__block-title {
        font-style: normal;
        font-weight: 700;
        font-size: 2.3rem;
        line-height: 1;
        color: #3F4C5C;
        padding-bottom: 3.6rem;
    }

    &__block-price {
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 125%;
        color: #3F4C5C;
        display: inline-block;
        margin-left: auto;
    }

    &__block-arrow {
        width: 3.2rem;
        height: 3.2rem;
        background: #00AC60;
        border-radius: 50%;
        display: flex;
        transition: all 0.3s;
        justify-content: center;
        cursor: pointer;
        align-items:center;
        margin-left: 5.6rem;
        svg {
            width: 1.2rem;
            height: 0.8rem;
        }
    }

    &__content {
        padding-bottom: 7rem;
        padding-top: 1rem;
        display: none;
    }

    &__content-inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    &__content-inner:last-child {
        margin-bottom: 0;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 150%;
        color: #3F4C5C;

    }

    &__price {
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 150%;
        color: #3F4C5C;
    }
}