<section class="cost">
    <div class="container">
        <div class="cost__wrapper">
            <div class="cost__left">
                <div class="cost__title">Стоимость медицинских услуг</div>
                <div class="cost__block">
                    <div class="cost__block-inner">
                        <div class="cost__block-title">Консультации специалистов, манипуляции в процедурных кабинетах, лечение</div>
                        <div class="cost__block-price">от 280 руб.</div>
                        <div class="cost__block-arrow">
                            <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    <div class="cost__content">
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (F11.01.014) Крем Лидокаин+Прилокаин<br> (Эмла) 5%, 5 г (П№014033/01)</div>
                            <div class="cost__price">550 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014) Спрей<br> Лидокаин 10% (Р№002739/01)</div>
                            <div class="cost__price">330 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03) Лидокаин 2%, 1<br> мл (ЛП00314- 020615)</div>
                            <div class="cost__price">220 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03)<br> Ультракаин 1%, 1 мл (П№015117/01)</div>
                            <div class="cost__price">280 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Серебро", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Золото", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">500 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственных препаратов (А11.01.014) Гель для местного<br> применения Лидокаин+Хлоргексидин (Катеджель) 12,5 г. П№012477/01</div>
                            <div class="cost__price">700 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014 ) крем<br> Лидокаин+Прилокаин (Акриол Про) 5 %, 5 г. (№ ЛП-004175)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                    </div>
                </div>
                <div class="cost__block">
                    <div class="cost__block-inner">
                        <div class="cost__block-title">Лабораторные исследования</div>
                        <div class="cost__block-price">от 280 руб.</div>
                        <div class="cost__block-arrow">
                            <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    <div class="cost__content">
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (F11.01.014) Крем Лидокаин+Прилокаин<br> (Эмла) 5%, 5 г (П№014033/01)</div>
                            <div class="cost__price">550 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014) Спрей<br> Лидокаин 10% (Р№002739/01)</div>
                            <div class="cost__price">330 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03) Лидокаин 2%, 1<br> мл (ЛП00314- 020615)</div>
                            <div class="cost__price">220 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03)<br> Ультракаин 1%, 1 мл (П№015117/01)</div>
                            <div class="cost__price">280 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Серебро", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Золото", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">500 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственных препаратов (А11.01.014) Гель для местного<br> применения Лидокаин+Хлоргексидин (Катеджель) 12,5 г. П№012477/01</div>
                            <div class="cost__price">700 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014 ) крем<br> Лидокаин+Прилокаин (Акриол Про) 5 %, 5 г. (№ ЛП-004175)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                    </div>
                </div>
                <div class="cost__block">
                    <div class="cost__block-inner">
                        <div class="cost__block-title">Удаление новообразований кожи</div>
                        <div class="cost__block-price">от 280 руб.</div>
                        <div class="cost__block-arrow">
                            <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    <div class="cost__content">
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (F11.01.014) Крем Лидокаин+Прилокаин<br> (Эмла) 5%, 5 г (П№014033/01)</div>
                            <div class="cost__price">550 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014) Спрей<br> Лидокаин 10% (Р№002739/01)</div>
                            <div class="cost__price">330 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03) Лидокаин 2%, 1<br> мл (ЛП00314- 020615)</div>
                            <div class="cost__price">220 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03)<br> Ультракаин 1%, 1 мл (П№015117/01)</div>
                            <div class="cost__price">280 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Серебро", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Золото", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">500 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственных препаратов (А11.01.014) Гель для местного<br> применения Лидокаин+Хлоргексидин (Катеджель) 12,5 г. П№012477/01</div>
                            <div class="cost__price">700 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014 ) крем<br> Лидокаин+Прилокаин (Акриол Про) 5 %, 5 г. (№ ЛП-004175)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                    </div>
                </div>
                <div class="cost__block">
                    <div class="cost__block-inner">
                        <div class="cost__block-title">Инъекционные технологии в косметологии</div>
                        <div class="cost__block-price">от 280 руб.</div>
                        <div class="cost__block-arrow">
                            <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    <div class="cost__content">
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (F11.01.014) Крем Лидокаин+Прилокаин<br> (Эмла) 5%, 5 г (П№014033/01)</div>
                            <div class="cost__price">550 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014) Спрей<br> Лидокаин 10% (Р№002739/01)</div>
                            <div class="cost__price">330 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03) Лидокаин 2%, 1<br> мл (ЛП00314- 020615)</div>
                            <div class="cost__price">220 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03)<br> Ультракаин 1%, 1 мл (П№015117/01)</div>
                            <div class="cost__price">280 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Серебро", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Золото", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">500 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственных препаратов (А11.01.014) Гель для местного<br> применения Лидокаин+Хлоргексидин (Катеджель) 12,5 г. П№012477/01</div>
                            <div class="cost__price">700 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014 ) крем<br> Лидокаин+Прилокаин (Акриол Про) 5 %, 5 г. (№ ЛП-004175)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                    </div>
                </div>
                <div class="cost__block">
                    <div class="cost__block-inner">
                        <div class="cost__block-title">Аппаратная косметология</div>
                        <div class="cost__block-price">от 280 руб.</div>
                        <div class="cost__block-arrow">
                            <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    <div class="cost__content">
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (F11.01.014) Крем Лидокаин+Прилокаин<br> (Эмла) 5%, 5 г (П№014033/01)</div>
                            <div class="cost__price">550 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014) Спрей<br> Лидокаин 10% (Р№002739/01)</div>
                            <div class="cost__price">330 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03) Лидокаин 2%, 1<br> мл (ЛП00314- 020615)</div>
                            <div class="cost__price">220 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03)<br> Ультракаин 1%, 1 мл (П№015117/01)</div>
                            <div class="cost__price">280 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Серебро", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Золото", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">500 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственных препаратов (А11.01.014) Гель для местного<br> применения Лидокаин+Хлоргексидин (Катеджель) 12,5 г. П№012477/01</div>
                            <div class="cost__price">700 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014 ) крем<br> Лидокаин+Прилокаин (Акриол Про) 5 %, 5 г. (№ ЛП-004175)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                    </div>
                </div>
                <div class="cost__block">
                    <div class="cost__block-inner">
                        <div class="cost__block-title">Косметологический уход</div>
                        <div class="cost__block-price">от 280 руб.</div>
                        <div class="cost__block-arrow">
                            <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    <div class="cost__content">
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (F11.01.014) Крем Лидокаин+Прилокаин<br> (Эмла) 5%, 5 г (П№014033/01)</div>
                            <div class="cost__price">550 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014) Спрей<br> Лидокаин 10% (Р№002739/01)</div>
                            <div class="cost__price">330 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03) Лидокаин 2%, 1<br> мл (ЛП00314- 020615)</div>
                            <div class="cost__price">220 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03)<br> Ультракаин 1%, 1 мл (П№015117/01)</div>
                            <div class="cost__price">280 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Серебро", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Золото", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">500 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственных препаратов (А11.01.014) Гель для местного<br> применения Лидокаин+Хлоргексидин (Катеджель) 12,5 г. П№012477/01</div>
                            <div class="cost__price">700 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014 ) крем<br> Лидокаин+Прилокаин (Акриол Про) 5 %, 5 г. (№ ЛП-004175)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                    </div>
                </div>
                <div class="cost__block">
                    <div class="cost__block-inner">
                        <div class="cost__block-title">Трихология</div>
                        <div class="cost__block-price">от 280 руб.</div>
                        <div class="cost__block-arrow">
                            <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    <div class="cost__content">
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (F11.01.014) Крем Лидокаин+Прилокаин<br> (Эмла) 5%, 5 г (П№014033/01)</div>
                            <div class="cost__price">550 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014) Спрей<br> Лидокаин 10% (Р№002739/01)</div>
                            <div class="cost__price">330 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03) Лидокаин 2%, 1<br> мл (ЛП00314- 020615)</div>
                            <div class="cost__price">220 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03)<br> Ультракаин 1%, 1 мл (П№015117/01)</div>
                            <div class="cost__price">280 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Серебро", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Золото", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">500 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственных препаратов (А11.01.014) Гель для местного<br> применения Лидокаин+Хлоргексидин (Катеджель) 12,5 г. П№012477/01</div>
                            <div class="cost__price">700 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014 ) крем<br> Лидокаин+Прилокаин (Акриол Про) 5 %, 5 г. (№ ЛП-004175)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                    </div>
                </div>
                <div class="cost__block">
                    <div class="cost__block-inner">
                        <div class="cost__block-title">Подология</div>
                        <div class="cost__block-price">от 280 руб.</div>
                        <div class="cost__block-arrow">
                            <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    <div class="cost__content">
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (F11.01.014) Крем Лидокаин+Прилокаин<br> (Эмла) 5%, 5 г (П№014033/01)</div>
                            <div class="cost__price">550 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014) Спрей<br> Лидокаин 10% (Р№002739/01)</div>
                            <div class="cost__price">330 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03) Лидокаин 2%, 1<br> мл (ЛП00314- 020615)</div>
                            <div class="cost__price">220 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03)<br> Ультракаин 1%, 1 мл (П№015117/01)</div>
                            <div class="cost__price">280 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Серебро", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Золото", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">500 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственных препаратов (А11.01.014) Гель для местного<br> применения Лидокаин+Хлоргексидин (Катеджель) 12,5 г. П№012477/01</div>
                            <div class="cost__price">700 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014 ) крем<br> Лидокаин+Прилокаин (Акриол Про) 5 %, 5 г. (№ ЛП-004175)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                    </div>
                </div>
                <div class="cost__block">
                    <div class="cost__block-inner">
                        <div class="cost__block-title">Парфюмерно-косметические средства</div>
                        <div class="cost__block-price">от 280 руб.</div>
                        <div class="cost__block-arrow">
                            <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    <div class="cost__content">
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (F11.01.014) Крем Лидокаин+Прилокаин<br> (Эмла) 5%, 5 г (П№014033/01)</div>
                            <div class="cost__price">550 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014) Спрей<br> Лидокаин 10% (Р№002739/01)</div>
                            <div class="cost__price">330 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03) Лидокаин 2%, 1<br> мл (ЛП00314- 020615)</div>
                            <div class="cost__price">220 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03)<br> Ультракаин 1%, 1 мл (П№015117/01)</div>
                            <div class="cost__price">280 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Серебро", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Золото", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">500 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственных препаратов (А11.01.014) Гель для местного<br> применения Лидокаин+Хлоргексидин (Катеджель) 12,5 г. П№012477/01</div>
                            <div class="cost__price">700 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014 ) крем<br> Лидокаин+Прилокаин (Акриол Про) 5 %, 5 г. (№ ЛП-004175)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                    </div>
                </div>
                <div class="cost__block">
                    <div class="cost__block-inner">
                        <div class="cost__block-title">Медицинские услуги в стационарных условиях</div>
                        <div class="cost__block-price">от 280 руб.</div>
                        <div class="cost__block-arrow">
                            <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    <div class="cost__content">
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (F11.01.014) Крем Лидокаин+Прилокаин<br> (Эмла) 5%, 5 г (П№014033/01)</div>
                            <div class="cost__price">550 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014) Спрей<br> Лидокаин 10% (Р№002739/01)</div>
                            <div class="cost__price">330 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03) Лидокаин 2%, 1<br> мл (ЛП00314- 020615)</div>
                            <div class="cost__price">220 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03)<br> Ультракаин 1%, 1 мл (П№015117/01)</div>
                            <div class="cost__price">280 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Серебро", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Золото", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">500 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственных препаратов (А11.01.014) Гель для местного<br> применения Лидокаин+Хлоргексидин (Катеджель) 12,5 г. П№012477/01</div>
                            <div class="cost__price">700 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014 ) крем<br> Лидокаин+Прилокаин (Акриол Про) 5 %, 5 г. (№ ЛП-004175)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                    </div>
                </div>
                <div class="cost__block">
                    <div class="cost__block-inner">
                        <div class="cost__block-title">Телемедицинские консультации</div>
                        <div class="cost__block-price">от 280 руб.</div>
                        <div class="cost__block-arrow">
                            <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    <div class="cost__content">
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (F11.01.014) Крем Лидокаин+Прилокаин<br> (Эмла) 5%, 5 г (П№014033/01)</div>
                            <div class="cost__price">550 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014) Спрей<br> Лидокаин 10% (Р№002739/01)</div>
                            <div class="cost__price">330 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03) Лидокаин 2%, 1<br> мл (ЛП00314- 020615)</div>
                            <div class="cost__price">220 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03)<br> Ультракаин 1%, 1 мл (П№015117/01)</div>
                            <div class="cost__price">280 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Серебро", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Золото", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">500 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственных препаратов (А11.01.014) Гель для местного<br> применения Лидокаин+Хлоргексидин (Катеджель) 12,5 г. П№012477/01</div>
                            <div class="cost__price">700 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014 ) крем<br> Лидокаин+Прилокаин (Акриол Про) 5 %, 5 г. (№ ЛП-004175)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                    </div>
                </div>
                <div class="cost__block">
                    <div class="cost__block-inner">
                        <div class="cost__block-title">Анализ на COVID-19</div>
                        <div class="cost__block-price">от 280 руб.</div>
                        <div class="cost__block-arrow">
                            <svg  viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.48689 0.944269L6.999 6.045L12.5111 0.944269C12.6096 0.852951 12.7418 0.801828 12.8795 0.801828C13.0171 0.801828 13.1493 0.852951 13.2478 0.944269C13.2955 0.988622 13.3334 1.04156 13.3593 1.09999C13.3851 1.15841 13.3984 1.22115 13.3984 1.28453C13.3984 1.3479 13.3851 1.41064 13.3593 1.46907C13.3334 1.52749 13.2955 1.58043 13.2478 1.62478L7.3839 7.05216C7.28092 7.14745 7.14281 7.20078 6.999 7.20078C6.8552 7.20078 6.71708 7.14745 6.6141 7.05216L0.75018 1.62583C0.702157 1.58145 0.663989 1.52838 0.637926 1.46976C0.611864 1.41114 0.598437 1.34815 0.598437 1.28453C0.598437 1.2209 0.611864 1.15792 0.637926 1.0993C0.663989 1.04068 0.702157 0.987608 0.75018 0.943221C0.848663 0.851904 0.980869 0.800781 1.11854 0.800781C1.2562 0.800781 1.38841 0.851904 1.48689 0.943221V0.944269Z" fill="white"/>
                            </svg>
                        </div>
                    </div>
                    <div class="cost__content">
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (F11.01.014) Крем Лидокаин+Прилокаин<br> (Эмла) 5%, 5 г (П№014033/01)</div>
                            <div class="cost__price">550 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014) Спрей<br> Лидокаин 10% (Р№002739/01)</div>
                            <div class="cost__price">330 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03) Лидокаин 2%, 1<br> мл (ЛП00314- 020615)</div>
                            <div class="cost__price">220 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Внутрикожное введение лекарственных средств (А11.01.03)<br> Ультракаин 1%, 1 мл (П№015117/01)</div>
                            <div class="cost__price">280 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Серебро", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Средство косметическое для ухода за кожей Гель "Премиум ДипЛайн профессионал<br> Золото", 10 мл (ТС№RUД-RU. АГ99.В.09969)</div>
                            <div class="cost__price">500 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственных препаратов (А11.01.014) Гель для местного<br> применения Лидокаин+Хлоргексидин (Катеджель) 12,5 г. П№012477/01</div>
                            <div class="cost__price">700 руб.</div>
                        </div>
                        <div class="cost__content-inner">
                            <div class="cost__text">Накожное применение лекарственного препарата (А11.01.014 ) крем<br> Лидокаин+Прилокаин (Акриол Про) 5 %, 5 г. (№ ЛП-004175)</div>
                            <div class="cost__price">450 руб.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cost__right">
                <aside class="aside">
                   <form action="" class="aside-form">
                        <div class="aside-form__title">
                            <strong>Записаться на прием</strong>
                            <span>в Консультативно-диагностический центр</span>
                        </div>
                        <div class="aside-form__content">
                            <input type="text" placeholder="ФИО*">
                            <input type="text" placeholder="Номер телефона*">
                            <input type="text" placeholder="E-mail*">
                            <input type="text" placeholder="Специалист или проблема*">
                            <label class="checkbox-other">
                                <input type="checkbox" >
                                <span>Я согласен на <a href="#">обработку персональных данных</a></span>
                            </label>
                            <button class="all-btn"><span>Записаться</span></button>
                        </div>
                       
                   </form>
                </aside>
                <aside class="aside">
                    <div class="aside__title">
                        <strong>Приказ</strong>
                        <span> о вводе в действие прейскуранта стоимости медицинских услуг ФГБУ «ГНЦДК» Минздрава России</span>
                    </div>
                    <div class="aside__content">
                        <a download="" href="" class="all-btn">
                            <span>Скачать pdf-файл</span>
                        </a>
                    </div>
                 </aside>
            </div>
        </div>
    </div>
</section>