<section class="distant">
    <div class="container">
        <div class="distant__wrapper">
             <div class="distant__title">Дистанционные консультации пациентов</div>
             <div class="distant__text">
                <span>Уважаемые пациенты!</span>
                <p>Государственный научный центр дерматовенерологии и косметологии предоставляет возможность проведения дистанционных консультаций врачами-специалистами нашего учреждения. Вместе с тем, рекомендуем проведение первой консультации в очном формате, что дает возможность полного объективного осмотра кожных покровов, уточнения истории заболевания, назначения лабораторных исследований и, соответственно, повышает точность постановки диагноза и успех дальнейшей терапии.<br>
                    По результатам первичной дистанционной консультации врач может установить предварительный диагноз, дать рекомендации по дальнейшему обследованию, назначить курс лечения. В ряде случаев для постановки диагноза и назначения лечения врачом могут быть запрошены результаты лабораторных исследований, которые вы также можете отправить в дистанционном формате.<br>
                    Обращаем внимание, что важным фактором дистанционной диагностики является хорошее качество и правильный ракурс фотографии пораженного участка кожи. В случае, если фотографии нечеткие или не соответствуют нижеуказанным требованиям, мы просим повторно прислать новые фотографии.
                    Повторная дистанционная консультация позволяет врачу проконтролировать эффективность назначенного лечения, и, при необходимости,внести<br> корректировку в терапию.<br>
                    Для получения дистанционной консультации выберите вид консультации, максимально подробно заполните все разделы формы, а также прикрепите фотографии участка кожи с проявлениями заболевания, результаты дополнительных лабораторных исследований, заключений врачей, выписок из истории болезни (при наличии).</p>
                    <div class="distant__text-inner">
                        <button class="distant__text-btn">Скрыть текст </button>
                        <a href="#" class="distant__text-link">Прейскурант на услуги дистанционных консультаций</a>
                    </div>
             </div>
             <!-- text -->
        </div>
        <div class="distant__wrap">
            <ul class="distant__lists">
                <li class="distant__lists-item active"><span>Первичный прием</span></li>
                <li class="distant__lists-item"><span>Повторный прием</span></li>
            </ul>
            <div class="distant__content">
                <div class="distant__content-left">
                    <div class="distant__content-block">
                        <div class="distant__content-block-chapter">
                            <span class="distant__content-block-chapter-number">1.</span>
                            <div class="distant__content-block-chapter-text">Пациент</div>
                        </div>
                        <ul class="distant__content-block-lists">
                            <li class="distant__content-block-item">Фамилия</li>
                            <li class="distant__content-block-item">Имя</li>
                            <li class="distant__content-block-item">E-mail</li>
                            <li class="distant__content-block-item">Номер телефона</li>
                        </ul>
                    </div>
                    <!-- block -->
                    <div class="distant__content-block">
                        <div class="distant__content-block-chapter">
                            <span class="distant__content-block-chapter-number">2.</span>
                            <div class="distant__content-block-chapter-text">Выбор специалиста</div>
                        </div>
                        <ul class="distant__content-block-lists">
                            <li class="distant__content-block-item">Специальность</li>
                            <li class="distant__content-block-item">Выбрать врача</li>
                           
                        </ul>
                    </div>
                    <!-- block -->
                    <div class="distant__content-block">
                        <div class="distant__content-block-chapter">
                            <span class="distant__content-block-chapter-number">3.</span>
                            <div class="distant__content-block-chapter-text">Причины обращения</div>
                        </div>
                        <ul class="distant__content-block-lists">
                            <li class="distant__content-block-item">Причина обращения</li>
                            <li class="distant__content-block-item">Жалобы</li>
                            <li class="distant__content-block-item">Аллергоанамнез</li>
                            <li class="distant__content-block-item">Наследственность</li>
                        </ul>
                    </div>
                    <!-- block -->
                    <div class="distant__content-block">
                        <div class="distant__content-block-chapter">
                            <span class="distant__content-block-chapter-number">4.</span>
                            <div class="distant__content-block-chapter-text">Оплата</div>
                        </div>
                       
                    </div>
                    <!-- block -->

                </div>
                <div class="distant__content-right">
                    <div class="distant__content-right-content">
                        <div class="distant__content-right-content-title">1. Пациент</div>
                        <form action="" class="distant__form">
                            <input type="text" placeholder="Фамилия*">
                            <input type="text" placeholder="Имя*">
                            <input type="text" placeholder="Отчество">
                            <input type="text" placeholder="Дата рождения*">
                            <input type="text" placeholder="E-mail*">
                            <input type="text" placeholder="Номер телефона*">
                        </form>
                    </div>
                    <div class="distant__content-right-content">
                        <div class="distant__content-right-content-title">2. Выбор специалиста</div>
                        <div class="select">
                            <input class="select-input" type="hidden" name="">
                            <div class="select-head">Специальность* </div>
                            <ul class="select-list">
                                <li class="select-item">Терапевт</li>
                                <li class="select-item">Хирург</li>
                            </ul>
                        </div>
                        <div class="select">
                            <input class="select-input" type="hidden" name="">
                            <div class="select-head">Выберите врача* </div>
                            <ul class="select-list">
                                <li class="select-item">Иван Геннадьевич</li>
                                <li class="select-item">Петр Мамонов</li>
                            </ul>
                        </div>
                    </div>
                    <div class="distant__content-right-content">
                        <div class="distant__content-right-content-title">3. Причина обращения и данные анамнеза</div>
                        <div class="distant__content-right-content-block">
                            <div class="distant__content-right-content-block-text">
                                <span>Причина обращения</span>
                                <p></p>
                            </div>
                            <textarea ></textarea>
                        </div>
                        <div class="distant__content-right-content-block">
                            <div class="distant__content-right-content-block-text">
                                <span>Жалобы</span>
                                <p>Опишите давность кожных проявлений, проводимое ранее лечение, назначенное врачами дерматовенерологами и (или) проводимое самостоятельно и его эффективность</p>
                            </div>
                            <textarea ></textarea>
                        </div>
                        <div class="distant__content-right-content-block">
                            <div class="distant__content-right-content-block-text">
                                <span>Аллергоанамнез</span>
                                <p>Укажите наличие аллергических реакций на лекарственные препараты, пищевые продукты, цветение, средства косметики и гигиены или на другие факторы</p>
                            </div>
                            <textarea ></textarea>
                        </div>
                        <div class="distant__content-right-content-block">
                            <div class="distant__content-right-content-block-text">
                                <span>Наследственность</span>
                                <p>Укажите заболевания дерматологического профиля у кровных родственников</p>
                            </div>
                            <textarea ></textarea>
                        </div>
                        <div class="distant__content-right-content-block">
                            <div class="distant__content-right-content-block-text">
                                <span>Сопутствующая терапия</span>
                                <p>Укажите лекарственные препараты, которые Вы принимали последние 2 месяца и/или принимаете постоянно. Для женщин необходимо указать о приёме оральных контрацептивов</p>
                            </div>
                            <textarea ></textarea>
                        </div>
                        <div class="distant__content-right-content-block">
                            <div class="distant__content-right-content-block-text">
                                <span>Иное</span>
                                <p>Укажите имеющиеся и перенесенные хронические заболевания, инфекции, оперативные вмешательства, травмы.
                                    Укажите дополнительную информацию о заболевании, которую считаете необходимой</p>
                            </div>
                            <textarea ></textarea>
                        </div>
                        <div class="distant__content-right-content-block">
                            <div class="distant__content-right-content-block-text">
                                <span>Добавить файлы</span>
                                <p>Приложите фотографии пораженного участка кожного покрова или результаты дополнительных исследований. Прикрепляемые файлы должны быть в форматах pdf,  jpg, mp4</p>
                            </div>
                            <form method="post" enctype="multipart/form-data">
                                <label class="input-file ">
                                       <input type="file" name="file">		
                                       <span>Прикрепить файлы</span>
                                 </label>
                            </form>
                        </div>
                    </div>
                    <div class="distant__content-right-content">
                        <div class="distant__content-right-content-title">4. Оплата</div>
                        <div class="distant__content-right-content-price">
                            <p>Итоговая стоимость приема:</p>
                            <span>2500 руб.</span>
                        </div>
                        <div class="distant__content-right-content-images">
                            <img src="./img/icon/visa.svg" alt="">
                            <img src="./img/icon/mastercard.svg" alt="">
                            <img src="./img/icon/mir.svg" alt="">
                            <img src="./img/icon/jcb.svg" alt="">
                        </div>
                        <div class="distant__content-right-content-captha">
                            <img src="./img/icon/captha.svg" alt="">
                        </div>
                        <label class="checkbox-other">
                            <input type="checkbox" >
                            <span>Я согласен на <a href="#">обработку персональных данных</a></span>
                        </label>

                        <button class="all-btn"><span>Оплатить</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="distant__end">
            <div class="distant__end-inner">
                <div class="distant__end-title">Способы Оплаты и возврат средств</div>
                <p>Для оплаты с помощью банковской карты необходимо нажать кнопку Оплатить. Оплата происходит через ПАО СБЕРБАНК с использованием банковских карт следующих платёжных систем:</p>
                <ul>
                    <li>МИР;</li>
                    <li>VISA International;</li>
                    <li>Mastercard Worldwide;</li>
                    <li>JCB</li>
                </ul>
                <p>Возврат переведённых средств, производится на ваш банковский счёт в течение 5–30 рабочих дней (срок  зависит от банка, который выдал вашу банковскую карту). Для возврата денежных средств необходимо заполнить «Заявление» и прислать его на адрес электронной почты reg@cnikvi.ru</p>
            </div>
            <div class="distant__end-inner">
                <div class="distant__end-title">ОПИСАНИЕ ПРОЦЕССА ПЕРЕДАЧИ ДАННЫХ</div>
                <p>Для оплаты (ввода реквизитов вашей карты) вы будете перенаправлены на платёжный шлюз ПАО СберБанк. Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с использованием протокола шифрования SSL. В случае если ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, Mastercard SecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод специального пароля.</p>
               
                <p>Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СберБанк. Введённая информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платёжных систем Мир, Visa Int., Mastercard Europe Sprl, JCB.</p>
            </div>
        </div>
    </div>
</section>