<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__left">
                <a href="#" class="footer__logo">
                    <img src="./img/icon/logofooter.svg" alt="">
                </a>
                <ul class="footer__lists">
                    <li><a href="#">Карта сайта</a></li>
                    <li><a href="#">Контакты контролирующих организаций</a></li>
                    <li><a href="#">Политика обработки персональных данных</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                </ul>
                <div class="footer__socials">
                    <a href="#">
                        <img src="./img/icon/vk.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="./img/icon/tg.svg" alt="">
                            
                    </a>
                    <a href="#">
                        <img src="./img/icon/od.svg" alt="">
                    </a>
                </div>
            </div>
            <!-- left -->
            <div class="footer__right">
                <ul class="footer__right-lists">
                    <li><a href="#">Дистанционные консультации</a></li>
                    <li><a href="#">Расписание приёма</a></li>
                    <li><a href="#">Стоимость медицинских услуг</a></li>
                    <li><a href="#">Запись на приём в Консультативно-диагностический центр</a></li>
                    <li><a href="#">Запись на приём в отделение косметологии</a></li>
                    <li><a href="#">Госпитализация</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Обратная связь</a></li>
                </ul>
                <ul class="footer__right-lists">
                    <li><a href="#">О центре</a></li>
                    <li><a href="#">Направления деятельности</a></li>
                    <li><a href="#">Пациентам</a></li>
                    <li><a href="#">Специалистам</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__policy">
            ⓒ 2022 ФГБУ "Государственный научный центр дерматовенерологии и косметологии" Минздрава России <span>Копирование информации данного сайта допускается только при условии указания ссылки на сайт</span>

        </div>
    </div>
</footer>

<script src="./js/jquery-3.5.1.min.js"></script>
<script src="./js/swiper-bundle.js"></script>
<script src="./js/Jq-script.js"></script>
<script src="./js/main.js"></script>
