<header class="header">
    <div class="container">
        <div class="header__top">
            <a href="#" class="header__logo">
                <img src="./img/icon/logo.svg" alt="">
            </a>
            <div class="header__search">
                <input type="text" placeholder="Поиск по сайту">
            </div>
        </div>
        <nav class="header__center">
            <div class="header__center-lists">
                <li><a href="#">О центре</a></li>
                <li><a href="#">Направления деятельности</a></li>
                <li><a href="#">пациентам</a></li>
                <li><a href="#">Специалистам</a></li>
            </div>
        </nav>
        <nav class="header__bottom">
            <ul class="header__bottom-lists">
                <li><a href="#">Запись на приём в консультативно-диагностический центр</a></li>
                <li><a href="#">Запись на приём в отделение косметологии</a></li>
                <li><a href="#">Госпитализация</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Расписание приёма</a></li>
                <li><a href="#">Стоимость медицинских услуг</a></li>
                <li><a href="#">Дистанционные консультации пациентов</a></li>
                <li><a href="#">Обратная связь</a></li>
            </ul>
        </nav>
    </div>
</header>