<section class="hospitalization">
    <div class="container">
        <div class="hospitalization__wrapper">  
            <div class="hospitalization__left">
                <div class="hospitalization__title">Госпитализация</div>
                <ul class="hospitalization__tabs">
                    <li class="hospitalization__item active" data-tab="1">Оказание специализированной,<br> в том числе, высокотехнологичной,<br> медицинской помощи в стационарных<br> условиях</li>
                    <li class="hospitalization__item" data-tab="2">Условия и порядок госпитализации</li>
                    <li class="hospitalization__item" data-tab="3">Документы необходимые для госпитализации</li>
                </ul>
                <!--  -->
                <div class="hospitalization__block">
                    <div class="hospitalization__block-title">Cтоимость медицинских услуг в стационарных условиях</div>
                    <a href="" download="" class="hospitalization__link all-btn"><span>Подробнее </span></a>
                </div>
                <div class="hospitalization__block">
                    <div class="hospitalization__block-title">Договор на оказание платных медицинских услуг</div>
                    <a href="" download="" class="hospitalization__link all-btn"><span>Подробнее </span></a>
                </div>
            </div>
            <div class="hospitalization__right">
                <div class="hospitalization__content active" data-tab="1">
                    <div class="hospitalization__content-title">Специализированная, в том числе, высокотехнологичная, медицинская помощь оказывается в стационарных условиях:</div>
                    <ul class="hospitalization__content-lists">
                        <li>за счёт средств обязательного медицинского страхования в рамках Территориальных программ государственных гарантий оказания гражданам Российской Федерации бесплатной медицинской помощи;
                            
                           
                            </li>
                        <li>за счёт средств добровольного медицинского страхования;</li>
                        <li> за счёт личных средств граждан</li>
                        <li>в рамках научной деятельности ФГБУ «ГНЦДК» Минздрава России</li>
                    </ul>
                    <div class="hospitalization__image">
                        <img src="./img/hospitalization.png" alt="">
                    </div>
                </div>
                <div class="hospitalization__content " data-tab="2">
                    <div class="hospitalization__content-title">Специализированная, в том числе, высокотехнологичная, медицинская помощь оказывается в стационарных условиях:</div>
                    <ul class="hospitalization__content-lists">
                        <li>за счёт средств обязательного медицинского страхования в рамках Территориальных программ государственных гарантий оказания гражданам Российской Федерации бесплатной медицинской помощи;
                            
                           
                            </li>
                        <li>за счёт средств добровольного медицинского страхования;</li>
                        <li> за счёт личных средств граждан</li>
                        <li>в рамках научной деятельности ФГБУ «ГНЦДК» Минздрава России</li>
                    </ul>
                    <div class="hospitalization__image">
                        <img src="./img/hospitalization.png" alt="">
                    </div>
                </div>
                <div class="hospitalization__content " data-tab="3">
                    <div class="hospitalization__content-title">Специализированная, в том числе, высокотехнологичная, медицинская помощь оказывается в стационарных условиях:</div>
                    <ul class="hospitalization__content-lists">
                        <li>за счёт средств обязательного медицинского страхования в рамках Территориальных программ государственных гарантий оказания гражданам Российской Федерации бесплатной медицинской помощи;
                            
                           
                            </li>
                        <li>за счёт средств добровольного медицинского страхования;</li>
                        <li> за счёт личных средств граждан</li>
                        <li>в рамках научной деятельности ФГБУ «ГНЦДК» Минздрава России</li>
                    </ul>
                    <div class="hospitalization__image">
                        <img src="./img/hospitalization.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>