<section class="record">
    <div class="container">
        <div class="record__wrapper">
            <div class="record__left">
                <div class="record__title">Запись на прием в отделение косметологии</div>
                <div class="record__text">
                    <p>Пожалуйста, заполните все поля регистрационной формы и нажмите кнопку «Записаться». Сотрудник Центра перезвонит вам в течение дня и запишет на приём к специалисту.
                        Если регистратор не сможет связаться с Вами по телефону, подтверждение заявки на приём придёт Вам на указанный e-mail адрес.</p>
                    <p>Или позвоните нам сами - <a href="#">+7 (499) 785-20-45</a></p>
                </div>
                <form class="record__form">
                    <input type="text" placeholder="ФИО*">
                    <input type="text" placeholder="Номер телефона*">
                    <input type="text" placeholder="E-mail*">
                    <textarea placeholder="Специалист или описание проблемы*"></textarea>
                    <div class="record__form-captcha">
                        <img src="./img/icon/captha.svg" alt="">
                    </div>
                    <label class="checkbox-other">
                        <input type="checkbox" >
                        <span>Я согласен на <a href="#">обработку персональных данных</a></span>
                    </label>
                    <button class="all-btn"><span>Записаться</span></button>
                </form>
            </div>
            <div class="record__right">
                <div class="record__swiper swiper">
                    <div class="record__swiper-wrapper swiper-wrapper">
                        <div class="record__slide swiper-slide">
                            <div class="record__slide-image"><img src="./img/record.png" alt=""></div>
                        </div>
                        <div class="record__slide swiper-slide">
                            <div class="record__slide-image"><img src="./img/record.png" alt=""></div>
                        </div>
                        <div class="record__slide swiper-slide">
                            <div class="record__slide-image"><img src="./img/record.png" alt=""></div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="pagination record__pagination">
                        <div class="pagination__bullets record__bullets"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>